<div class="row">

  <div class="col-md-1">
  </div>

  <div class="col-md-10">

    <section>

      <table id="dtlog" class="table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
          <tr>
            <th>component</th>
            <th>session</th>
            <th>level</th>
            <th>action</th>
            <th>message</th>
            <th>location</th>
            <th>data</th>
            <th>createdAt</th>
            <!-- <th>id</th> -->
          </tr>
        </thead>
        <tfoot>
          <tr>
            <th>component</th>
            <th>session</th>
            <th>level</th>
            <th>action</th>
            <th>message</th>
            <th>location</th>
            <th>data</th>
            <th>createdAt</th>
          </tr>
        </tfoot>
      </table>

    </section>

  </div>
</div>
